* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: #3D0000;
}

.navbar {
    padding-top: 7px;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.nav-head a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-auth a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-auth-logout a {
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width: 800px) {
    .nav-auth a {
        display: none;
    }
}

@media (max-width: 800px) {
    .nav-auth-logout a {
        display: none;
    }
}

.navbar-support {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
    position: -webkit-sticky;
    top: 0px;
    position: sticky;
}

.navbar-support-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-support-items a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:800px) {
    .navbar-support{
        display: none;
    }
}

.hamburger {
    display: none;
    margin-top: -15px;
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: none;
    color: white;
    background: transparent;
    cursor: pointer;
}

@media (max-width:600px) {
    .hamburger {
        display: block;
    }
}

.closeIcon {
    display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #3D0000;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}

.hamburger-items {
    margin-left: 25px;
}

.hamburger-items-list {
    margin-top: 10px;
}

.hamburger-items-list a {
    text-decoration: none;
    color: white;
}

.hamburger-items-list-auth a {
    color: gold;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-post {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-post-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    margin-left: 5px;
}

.post-category {
    margin-bottom: 5px;
    color: #3D0000;
    font-weight: bold;
}

.post-date {
    color: gray;
    font-size: 13px;
    margin-bottom: 3px;
}

.post-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.post-content {
    color: gray;
    padding-bottom: 5px;
}

.show {
    max-width: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .show {
        position: absolute;
        align-items: center;
        margin-top: 0px;
    }
}

@media (max-width: 350px) {
    .show {
        margin-top: 35px;
    }
}

.show-body {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.show-category {
    color: #3D0000;
    font-weight: bold;
}

.show-date {
    color: gray;
    font-size: 15px;
}

.show-tools-button {
    display: flex;
    align-items: center;
}

.show-edit-button {
    margin-right: 10px;
    background-color: green;
    color: white;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}

.show-delete-button {
    border: none;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.create-body {
    position: relative;
	width:100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-create {
    align-items: center;
    text-align: center;
}

.form-control {
    width: 100%;
    margin-bottom: 5px;
    padding: 7px;
    border: #3D0000 1px solid;
    border-radius: 5px;
}

.form-button-create {
    border: none;
    background-color: #3D0000;
    color: white;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
}

.edit-body {
    position: relative;
	width:100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-edit {
    align-items: center;
    text-align: center;
}

.form-button-edit {
    border: none;
    background-color: #3D0000;
    color: white;
    font-weight: bold;
    padding: 7px;
    border-radius: 5px;
}